// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.greeting {
  font-weight: 800;
}

.article {
  padding-bottom: 20px;
}

li {
  list-style: none;
}

.heading {
  font-weight: 600;
  font-size: 1.6rem;
}